@use '../../styles/variables.scss' as v;

.loginModal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 14px;
    right: 10px;
    width: 200px;
    height: 220px;
    padding: 20px 10px;
    border: 1px solid v.$border-gray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 5px 1px v.$border-gray;

    .loginContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .textContainer {
            display: flex;
            justify-content: space-between;

            .textName {
                display: flex;
                align-items: center;
                font-size: 10px;
                font-weight: bold;
            }

            .text {
                width: 130px;
                height: 22px;
                font-size: 10px;
            }
        }

        .loginButtonContainer {
            display: flex;
            justify-content: flex-end;
            button {
                width: 50px;
                height: 30px;
                background-color: v.$primary-blue;
                font-size: 10px;
                color: white;

                &:hover {
                    background-color: v.$dark-blue;
                }
            }
        }
    }

    .socialLogin {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .textDescription {
            font-size: 10px;
        }

        .socialLoginButtonContainer {
            display: flex;
            justify-content: flex-end;

            button {
                width: 100px;
                height: 30px;
                background-color: white;
                font-size: 10px;

                &:hover {
                    background-color: v.$background-gray;
                }
            }
        }
    }
}
