@use '../../styles/variables.scss' as v;

.calendarModal {
    position: absolute;
    top: 14px;
    left: 340px;
    width: 280px;
    height: 250px;
    border: 1px solid var(--structure);
    border-radius: 10px;
    background-color: var(--sidebar-background);
    box-shadow: 0 1px 5px 1px var(--structure);
}
