.notificationModal {
    position: fixed;
    top: 60px;
    right: 30px;
    width: 350px;
    height: calc(100vh - 70px);
    max-height: 450px;
    border: 1px solid var(--structure);
    border-radius: 10px;
    background-color: var(--sidebar-background);
    box-shadow: 0 1px 5px 1px var(--structure);
    overflow: auto;

    display: flex;
    flex-direction: column;

    .request {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--structure);
        border-bottom: 1px solid var(--structure);

        .textContainer {
            display: flex;
            flex-direction: row;

            .textTitle {
                font-size: 10px;
            }
            .textText {
                font-size: 10px;
            }
        }
    }
}
