@use '@styles/variables.scss' as v;

.searchbar {
    padding: 0 30px;
    width: 100%;
    max-width: 780px;

    form {
        display: flex;
        align-items: center;
        padding: 4px 8px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        box-shadow: 0 1px 3px 1px v.$border-gray;

        button {
            padding: 8px;
            width: auto;
            border-radius: 50%;

            &.clear.hidden {
                visibility: hidden;
            }
        }

        input {
            flex-grow: 1;
            margin-left: 4px;
            padding: 2px;
            height: 100%;
            border: none;
            font-size: medium;

            &:focus {
                outline: none;
            }

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .searchbar {
        padding: 0 10px;
    }
}
