@use '../../styles/variables.scss' as v;

.signUpModal {
    position: absolute;
    top: 38px;
    right: 10px;
    width: 200px;
    height: 220px;
    border: 1px solid v.$border-gray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 5px 1px v.$border-gray;
}