.event {
    position: absolute;
    border: 1px solid var(--structure);
    box-shadow: 2px 4px 4px var(--structure-shadow);

    &:hover {
        cursor: pointer;
        filter: none;
    }
}

.event[data-layer='0'] {
    box-shadow: none;
}

.textHolder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
    height: 100%;
    width: 100%;
    font-weight: inherit;
    &.oneline {
        justify-content: center;
        padding: 3px 0px 3px 8px;
        font-weight: inherit;
    }
    &.twoline {
        justify-content: flex-start;
        padding: 8px;
        font-weight: inherit;
    }
    div {
        text-overflow: ellipsis;
        color: var(--text-reverse);
    }

    .onelineText {
        text-overflow: ellipsis;
        height: 12px;
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        font-weight: inherit;
    }
}
