@use '@styles/variables.scss' as v;

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;

    button {
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        margin-top: 4px;

        &.textIncluded {
            width: fit-content;
        }

        &:hover {
            background-color: var(--button-hover);
            cursor: pointer;
        }

        &.today {
            color: white;
            background-color: var(--today-blueberry);

            &:hover {
                background-color: var(--dark-blueberry);
            }
        }

        &.currMonth {
            color: var(--text-datesPrimary);
        }

        &.notCurrMonth {
            color: var(--text-datesSecondary);
        }

        span {
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.acrossHolder {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
}

.withinHolder {
    display: flex;
    flex-direction: column;
}
