@use '@styles/variables.scss' as v;

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-right: 1px solid var(--structure);
    border-bottom: 1px solid var(--structure);
}

.dateHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    height: 24px;
    text-align: center;
    justify-content: baseline;
    .today {
        color: white;
        border-radius: 50%;
        border-color: transparent;
        background-color: var(--today-blueberry);
        height: 24px;
        width: 24px;
    }
    .currMonth {
        color: var(--text-datesPrimary);
    }
    .notCurrMonth {
        color: var(--text-datesSecondary);
    }
}

.eventsHolder {
    display: flex;
    flex-direction: column;
}
