@use '@styles/variables.scss' as v;

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.dateHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    height: 24px;
    text-align: center;
    justify-content: baseline;
    .today {
        color: white;
        border-radius: 50%;
        border-color: transparent;
        background-color: v.$primary-blue;
        height: 24px;
        width: 24px;
    }
    .currMonth {
        color: black;
    }
    .notCurrMonth {
        color: v.$font-gray;
    }
}

.eventsHolder {
    display: flex;
    flex-direction: column;
}
