.across {
    height: 23px;
    overflow-x: visible;
    display: flex;
    align-items: flex-start;
    &.chocolate > * {
        background-color: var(--syrup-chocolate);
    }
    &.honey > * {
        background-color: var(--syrup-honey);
    }
    &.strawberry > * {
        background-color: var(--syrup-strawberry);
    }

    .filler {
        width: 3px;
        height: 20px;
    }

    .left {
        transform: skewY(45deg);
        height: 20px;
        width: 3px;
    }

    .main {
        width: calc(100% - 6px);
        height: 20px;
        margin-top: 2px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .right {
        transform: skewY(-45deg);
        height: 20px;
        margin-top: 1px;
        width: 3px;
    }

    span {
        padding: 4px;
        color: var(--text-reverse);
        font-size: 10px;
        font-weight: 524;
        width: 100%;
        text-overflow: ellipsis;
    }
}
