@use '@styles/variables.scss' as v;

.wrapper {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 65px);
    width: 100vw;
}

.monthHolder {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 8px;
}

.headrow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-left: 1px solid v.$border-gray;
    div {
        color: v.$font-gray;
        text-align: center;
        font-size: 11px;
        border-right: 1px solid v.$border-gray;
    }
}

.month {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(7, 1fr);
    flex-grow: 1;
    border-left: 1px solid v.$border-gray;
    background-color: v.$border-gray;
    gap: 1px;
}
