@use '@styles/variables.scss' as v;

.wrapper {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 65px);
    width: 100vw;
    background-color: var(--sidebar-background);
}

.monthHolder {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 8px;
    border-left: 1px solid var(--structure);
    background-color: var(--waffle-background);
}

.headrow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    border-left: 1px solid var(--structure);

    div {
        color: var(--text-datesSecondary);
        text-align: center;
        font-size: 11px;
        background-color: transparent;
        border-right: 1px solid var(--structure);
    }
}

.month {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(7, 1fr);
    flex-grow: 1;
    gap: 1px;
    border-left: 1px solid var(--structure);
    border-top: 1px solid var(--structure);
}
