$background-gray: #f0f0f0;
$font-gray: #70757a;
$border-gray: #dadce0;

.calendarModal {
    position: absolute;
    top: 20px;
    left: 340px;
    width: 280px;
    height: 220px;
    border: 1px solid $border-gray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 5px 1px $border-gray;
}
