@use '@styles/variables.scss' as v;

.dropDown {
    position: relative;
}

.dropDown,
.dropDownHeader {
    height: 100%;
}

.dropDownHeader {
    position: relative;
    z-index: 160;
}

.dropDownBody {
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: 150;
    border: 1px solid var(--structure);
    background-color: var(--sidebar-background);
    box-shadow: 0 5px 8px 3px var(--structure);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;

    &.closed {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
    }

    ul {
        padding: 8px 0;
        width: 100%;
    }

    ul:not(:last-child) {
        border-bottom: 1px solid var(--structure);
    }

    li {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        font-size: small;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            background-color: var(--button-hover);
        }
    }
}
