@use '../styles/variables.scss' as v;

.dropDown {
    position: relative;
}

.dropDown,
.dropDownHeader {
    height: 100%;
}

.dropDownBody {
    position: absolute;
    top: 45px;
    left: 0px;
    width: 160px;
    border: 1px solid v.$border-gray;
    background-color: white;
    box-shadow: 0 5px 8px 3px v.$border-gray;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

    &.closed {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    }

    ul {
        padding: 8px 0;
    }

    ul:not(:last-child) {
        border-bottom: 1px solid v.$border-gray;
    }

    li {
        display: flex;
        justify-content: space-between;
        padding: 8px 15px;
        font-size: small;
        cursor: pointer;

        &:hover {
            background-color: v.$background-gray;
        }
    }
}
