$background-gray: #f0f0f0;
$font-gray: #70757a;
$border-gray: #dadce0;
$profile-green: #008a7c;

.header {
    display: grid;
    grid-template-columns: 240px minmax(550px, auto) 100px;
    grid-template-rows: 48px;
    padding: 8px 15px;
    height: 65px;
    border-bottom: 1px solid $border-gray;

    .left,
    .middle,
    .right {
        display: flex;
    }

    .middle {
        justify-content: space-between;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 100%;
        border: none;
        background-color: white;
        cursor: pointer;

        &:hover {
            background-color: $background-gray;
        }
        &:focus {
            background-color: $background-gray;
        }
    }

    .sidebarContainer {
        button {
            padding: 11px;
            border-radius: 50%;
        }
    }

    .titleContainer {
        display: flex;
        align-items: center;
        cursor: default;

        > div {
            position: relative;
            margin: 0 5px;
            height: 35px;

            .dateToday {
                display: inline-block;
                width: 23px;
                height: 17px;
                position: absolute;
                top: 13px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                font-size: small;
            }
        }

        span {
            font-size: 22px;
        }
    }

    .dateContainer {
        display: flex;
        align-items: center;

        .today {
            margin-right: 20px;
            width: 65px;
            height: 75%;
            border: 1px solid $border-gray;
            border-radius: 5px;
        }

        .btnContainer {
            display: flex;
            align-items: center;
            height: 75%;

            button {
                border-radius: 5px;
            }
        }

        .date {
            margin-left: 15px;
            height: 75%;

            button {
                padding: 0 5px;
                border-radius: 5px;
                font-size: 22px;

                &.inactive {
                    cursor: default;
                    &:hover {
                        background-color: white;
                    }
                }
            }
        }
    }

    .utilContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;

        > div {
            position: relative;
            width: 45px;
            height: 90%;
        }

        button {
            border-radius: 50%;
        }

        .calendarType {
            width: 75px;
            height: 75%;

            button {
                padding: 0 10px;
                justify-content: space-between;
                border: 1px solid $border-gray;
                border-radius: 5px;
                text-align: right;
            }
        }
    }

    .userContainer {
        display: flex;
        align-items: center;

        > div {
            width: 45px;
            height: 90%;
        }

        button {
            border-radius: 50%;
            font-size: large;
        }

        .user button {
            border: 2px solid white;
            background-color: $profile-green;
            color: white;

            &:hover {
                border: 2px solid $border-gray;
            }
        }
    }
}
