$gray: #f0f0f0;

.header {
    padding: 8px 15px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        border: none;
        padding: 0;
        background-color: transparent;
        height: 100%;
        cursor: pointer;

        &:hover {
            background-color: $gray;
        }
    }

    > div {
        flex-shrink: 0;
    }

    .sidebarContainer {
        padding: 10px;
        width: 50px;
        height: 100%;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: $gray;
        }
    }

    .titleContainer {
        display: flex;
        align-items: center;
        margin: 0 20px;
        width: 220px;
        height: 100%;
        position: relative;
        font-size: x-large;
        cursor: default;

        .date {
            display: inline-block;
            width: 23px;
            height: 16px;
            position: absolute;
            top: 20px;
            left: 6px;
            text-align: center;
            font-size: small;
        }
    }

    .dateContainer {
        display: flex;
        width: 670px;
        height: 100%;
        flex-shrink: 1;

        > div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 270px;

            .today {
                width: 70px;
                height: 70%;
                text-align: center;
                border: 1px solid gainsboro;
                border-radius: 5px;

                &:hover {
                    background-color: $gray;
                }
            }

            .btnContainer {
                display: flex;
                align-items: center;
                height: 100%;

                button {
                    height: 70%;
                    border-radius: 5px;
                }
            }

            .date {
                padding: 0 5px;
                height: 70%;
                border-radius: 5px;

                button {
                    font-size: large;
                }

                &:hover {
                    background-color: $gray;
                }
            }
        }
    }

    .utilContainer {
        display: flex;
        width: 260px;
        height: 100%;
        justify-content: space-between;
        align-items: center;

        > div {
            border-radius: 50%;
            padding: 10px;
            width: 45px;
            height: 90%;
            text-align: center;

            &:hover {
                background-color: $gray;
            }
        }

        select {
            height: 70%;
            width: 70px;
            border: 1px solid gainsboro;
            border-radius: 5px;

            &:hover {
                background-color: $gray;
            }
        }

        .user {
            button {
                font-size: large;
            }
        }
    }
}
