$background-gray: #f0f0f0;
$font-gray: #70757a;
$border-gray: #dadce0;

.header {
    display: grid;
    grid-template-columns: 48px 190px minmax(310px, auto) 260px;
    grid-template-rows: 48px;
    padding: 8px 15px;
    height: 65px;
    border-bottom: 1px solid $border-gray;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 100%;
        border: none;
        background-color: white;
        cursor: pointer;

        &:hover {
            background-color: $background-gray;
        }
    }

    .sidebarContainer {
        button {
            border-radius: 50%;
        }
    }

    .titleContainer {
        display: flex;
        align-items: center;
        cursor: default;

        > div {
            position: relative;
            margin: 0 5px;
            height: 35px;

            .dateToday {
                display: inline-block;
                width: 23px;
                height: 17px;
                position: absolute;
                top: 13px;
                left: 6px;
                text-align: center;
                font-size: small;
            }
        }

        span {
            font-size: 22px;
        }
    }

    .dateContainer {
        display: flex;
        align-items: center;

        .today {
            margin-right: 20px;
            width: 65px;
            height: 75%;
            border: 1px solid $border-gray;
            border-radius: 5px;
        }

        .btnContainer {
            display: flex;
            align-items: center;
            height: 100%;

            button {
                height: 75%;
                border-radius: 5px;
            }
        }

        .date {
            margin-left: 15px;
            height: 75%;

            button {
                padding: 0 5px;
                border-radius: 5px;
                font-size: 22px;

                &.inactive {
                    cursor: default;
                    &:hover {
                        background-color: white;
                    }
                }
            }
        }
    }

    .utilContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div {
            width: 45px;
            height: 90%;
        }

        button {
            border-radius: 50%;
        }

        select {
            margin: 0 5px;
            width: 70px;
            height: 75%;
            border: 1px solid $border-gray;
            border-radius: 5px;

            &:hover {
                background-color: $background-gray;
            }
        }

        .user {
            button {
                font-size: large;
            }
        }
    }
}
