.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);

    &.dim {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &.open {
        animation: fadein 0.3s;
    }

    &.closing {
        animation: fadeout 0.3s;
    }
}

.modalBody {
    position: absolute;
    top: 0;
    z-index: 110;
    width: 100%;

    &.open {
        animation: slidedown 0.3s;
    }

    &.closing {
        animation: slideup 0.3s;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slidedown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideup {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-30px);
        opacity: 0;
    }
}
