.backdrop {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);

    &.dim {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &.open {
        animation: fadein 0.3s;
    }

    &.closing {
        animation: fadeout 0.3s;
    }

    .modalBody {
        &.open {
            animation: slidedown 0.3s;
        }

        &.closing {
            animation: slideup 0.3s;
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slidedown {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes slideup {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-30px);
    }
}
