@use '@styles/variables.scss' as v;

.scheduleModal {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 570px;
    height: 80vh;
    max-height: 500px;
    border: 1px solid v.$border-gray;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 5px 1px v.$border-gray;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 5px;
    height: 36px;
    background-color: v.$background-gray;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        background-color: v.$background-gray;

        &:hover {
            background-color: v.$border-gray;
        }
    }
}

.scheduleForm {
    display: grid;
    grid-template-rows: auto 60px;
    height: calc(100% - 36px);
}

.body {
    overflow: auto;
    padding: 24px 64px 24px 24px;
}

.title {
    position: relative;
    padding-left: 52px;
    padding-bottom: 20px;

    input {
        padding: 3px;
        width: 100%;
        font-size: x-large;
        border: none;
        border-bottom: 2px solid v.$border-gray;

        + .underline {
            position: absolute;
            left: calc(50% + 26px);
            bottom: 20px;
            width: 0;
            transition: all 0.3s ease-in-out;
            border-bottom: 2px solid v.$border-gray;
        }

        &:focus {
            outline: none;

            + .underline {
                left: 52px;
                width: calc(100% - 52px);
                border-bottom: 2px solid v.$primary-blue;
            }
        }
    }
}

.content {
    > div {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    label {
        display: flex;
        align-items: center;
        width: 52px;
        border-bottom: 2px solid white;
    }

    input:not(.participant input) {
        height: 36px;
        border: none;
        border-radius: 5px;
        text-align: center;

        // underline
        + span {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            transition: all 0.3s ease-in-out;
            border-bottom: 2px solid v.$border-gray;
        }

        &:hover {
            background-color: v.$background-gray;
        }

        &:focus {
            outline: none;
            background-color: v.$background-gray;

            // underline
            + span {
                left: 0;
                width: 100%;
                border-bottom: 2px solid v.$primary-blue;
            }
        }
    }

    .time {
        display: block;

        > div {
            display: flex;
        }

        .timeInputContainer {
            display: flex;
            align-items: center;
        }

        .dash {
            margin: 0 5px;
        }
    }

    .protectionLevel {
        margin-bottom: 0px;

        input {
            width: 80px;
        }
    }

    .hideDetails {
        padding-left: 52px;
        font-size: small;

        input {
            margin: 0 5px 0 0;
            height: 16px;

            &:hover {
                cursor: pointer;
            }

            &:disabled {
                cursor: default;

                & + label {
                    cursor: default;
                }
            }
        }

        label {
            width: auto;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .description {
        align-items: flex-start;

        textarea {
            padding: 5px;
            resize: none;
            border: 2px solid v.$border-gray;
            border-radius: 5px;

            &:focus {
                outline: none;
                border: 2px solid v.$primary-blue;
            }
        }
    }
}

.btnContainer {
    padding: 12px 24px;
    text-align: right;
    border-top: 1px solid v.$border-gray;

    button {
        padding: 0 20px;
        height: 36px;
        color: white;
        background-color: v.$primary-blue;

        &:hover {
            background-color: v.$dark-blue;
        }
    }
}

.errorMessage {
    padding-left: 55px;
    color: tomato;
    font-size: small;
}
