@use '@styles/variables.scss' as v;

.container {
    background-color: var(--fill-inputBox);
    padding-top: 6px;
    margin-right: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 40px);
}

.searchedResultWrapper {
    display: flex;
    flex-wrap: wrap;
}

.selected {
    border: 2px solid #dadce0;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;

    margin: 0px 8px 5px 8px;
    max-width: calc(100% - 16px);
    > img {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    div {
        height: fit-content;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    button {
        margin: 0 5px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 18px;
            width: 18px;
        }
    }
}

.input {
    border: none;
    background-color: transparent;
    width: 100%;
    margin: 0px 12px 0px 12px;
    &:focus {
        outline: none;
    }
}

.underline {
    background-color: var(--today-blueberry);
    margin-top: 3px;
    height: 3px;
    width: 0px;
    align-self: center;
    &.expand {
        width: 100%;
        transition: width 300ms;
    }
}

.suggestions {
    padding: 0px;
    margin: 0px;
    li {
        padding: 0px;
    }
}
.suggestion {
    display: flex;
    align-items: center;
    padding: 8px 10px 8px 10px;
    height: 100%;
    width: 100%;

    .username {
        font-size: 14px;
        overflow-x: ellipsis;
    }
    .email {
        font-size: 12px;
        color: var(--text-other);
        overflow-x: ellipsis;
    }
}
