.container {
    background-color: var(--fill-inputBox);
    padding-top: 6px;
    margin-right: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 40px);
}

.searchedResultWrapper {
    display: flex;
    flex-wrap: wrap;
}

.selected {
    border: 2px solid var(--light-structure);
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px 8px 5px 8px;
    max-width: calc(100% - 16px);
    > svg {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    div {
        height: fit-content;
        margin: 0px 5px;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #000000;
    }

    button {
        margin: 0 5px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: fit-content;

        svg {
            height: 18px;
            width: 18px;
        }
    }
}

.input {
    border: none;
    background-color: transparent;
    width: 100%;
    margin: 0px 12px 0px 12px;
    caret-color: black;
    color: black;
    &:focus {
        outline: none;
    }
}

.underline {
    background-color: var(--today-blueberry);
    margin-top: 3px;
    height: 3px;
    width: 0px;
    align-self: center;
    &.expand {
        width: 100%;
        transition: width 300ms;
    }
}

.suggestions {
    padding: 0px;
    margin: 0px;
    li {
        padding: 0px;
    }
}
.suggestion {
    display: flex;
    align-items: center;
    padding: 8px 10px 8px 10px;
    height: 100%;
    width: 100%;

    > svg {
        min-height: 20px;
        min-width: 20px;
        max-width: 20px;
        max-height: 20px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .textHolder {
        flex-grow: 1;
        .username {
            width: 100%;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .email {
            width: 100%;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
