.postCreatePage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    height: calc(100vh - 65px);
    gap: 20px;
    background-color: var(--sidebar-background);

    > div {
        border: 1px solid var(--structure);
    }
}

.createPost {
    display: grid;
    grid-template-rows: 50px auto 60px;
}
