.postPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
    min-height: calc(100vh - 65px);
    background-color: var(--sidebar-background);

    > div {
        border: 1px solid var(--structure);
    }
}

.right {
    display: grid;
    grid-template-rows: minmax(200px, auto) auto;
    justify-items: end;
}

.postContainer {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--structure);
}

.util {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 10px;
    gap: 5px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
    }
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;

    .comments {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .comment {
        border: 1px solid var(--structure);
        border-radius: 5px;

        .content {
            padding: 5px;
        }
    }

    textarea {
        padding: 5px;
        width: 100%;
        height: 60px;
        resize: none;
        border: 2px solid var(--structure);
        border-radius: 5px;

        &:focus {
            outline: none;
            border: 2px solid var(--today-blueberry);
        }
    }

    .newComment {
        text-align: right;
    }

    .btnContainer {
        text-align: right;
    }

    button.save,
    button.cancel {
        margin-top: 5px;
        height: 24px;
        border: none;
        background-color: var(--today-blueberry);

        &:hover {
            background-color: var(--dark-blueberry);
        }
    }

    button.cancel {
        background-color: transparent;

        &:hover {
            background-color: var(--button-hover);
        }
    }
}
