.postPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
    height: calc(100vh - 65px);
    background-color: var(--sidebar-background);

    > div {
        border: 1px solid var(--structure);
    }
}

.right {
}

.util {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    gap: 5px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
    }
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    text-align: right;

    .comments {
        flex-grow: 1;
        background-color: tomato;
    }

    .newComment {
        text-align: right;

        textarea {
            padding: 5px;
            width: 100%;
            height: 60px;
            resize: none;
            border: 2px solid var(--structure);
            border-radius: 5px;

            &:focus {
                outline: none;
                border: 2px solid var(--today-blueberry);
            }
        }

        button {
            margin-top: 5px;
            height: 24px;
            border: none;
            background-color: var(--today-blueberry);

            &:hover {
                background-color: var(--dark-blueberry);
            }
        }
    }
}
