.postPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    height: calc(100vh - 65px);
    background-color: var(--sidebar-background);
}

.right {
    display: grid;
    grid-template-rows: minmax(200px, auto) auto;
    justify-items: end;
}

.postContainer {
    padding-right: 25px;
    overflow: auto;
}

.postUtils {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
    padding: 10px;
    height: 80px;
    border-left: 10px solid var(--login-shadow);
    background-color: var(--login-background);

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
    }
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 10px;

    .comments {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .comment {
        padding: 10px;
        border-left: 10px solid var(--structure);
        background-color: var(--login-background);

        .commentUtils {
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 3px;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 28px;
                height: 28px;
                border: none;
                border-radius: 50%;
            }
        }

        .content {
        }
    }

    textarea {
        padding: 5px;
        width: 100%;
        height: 70px;
        resize: none;
        border: 2px solid var(--structure);
        border-radius: 5px;

        &:focus {
            outline: none;
            border: 2px solid var(--login-shadow);
        }
    }

    .newComment {
        margin: 10px 0 25px 0;
        text-align: right;
    }

    .btnContainer {
        display: flex;
        justify-content: right;
        gap: 5px;

        button {
            padding: 5px 8px;
            border: none;
        }

        .save {
            color: white;
            background-color: var(--login-register-submit-hover);

            &:hover {
                background-color: var(--syrup-chocolate);
            }
        }

        .cancel {
            color: var(--text-reverse);
            background-color: var(--stroke-header);

            &:hover {
                background-color: var(--login-divider-text);
            }
        }
    }

    // button.save,
    // button.cancel {
    //     margin-top: 5px;
    //     height: 24px;
    //     border: none;
    //     background-color: var(--today-blueberry);

    //     &:hover {
    //         background-color: var(--dark-blueberry);
    //     }
    // }

    // button.cancel {
    //     background-color: transparent;

    //     &:hover {
    //         background-color: var(--button-hover);
    //     }
    // }
}
