@use '@styles/variables.scss' as v;

.scheduleViewModal {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 550px; // temp
    border: 1px solid var(--structure);
    border-radius: 10px;
    background-color: var(--sidebar-background);
    box-shadow: 0 1px 5px 1px var(--structure);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    gap: 5px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
    }
}
