.blogPage {
    height: calc(100vh - 65px);
}

.schedule {
    width: 50vw;
    height: 100%;
    background-color: tomato;
}

.posts {
    width: 50vw;
    height: 100%;
    background-color: lightblue;
}
