.postEditor {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    .title {
        position: relative;
        margin: 10px 20px;

        input {
            padding: 5px;
            width: 100%;
            font-size: medium;

            + span {
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                transition: all 0.3s ease-in-out;
                border-bottom: 2px solid var(--button-hover);
            }

            &:focus {
                outline: none;

                // underline
                + span {
                    left: 0;
                    width: 100%;
                    border-bottom: 2px solid var(--login-shadow);
                }
            }
        }
    }

    .content {
        flex-grow: 1;
        border-top: 10px solid var(--login-shadow);
        border-left: 10px solid var(--login-shadow);
        background-color: var(--login-background);

        textarea {
            padding: 10px;
            width: 100%;
            height: 100%;
            border: none;
            resize: none;

            &:focus {
                outline: none;
            }
        }
    }

    .images {
        display: flex;
        margin-top: 25px;
        padding: 10px;
        border-top: 10px solid var(--login-shadow);
        border-left: 10px solid var(--login-shadow);
        background-color: var(--login-background);

        input {
            display: none;

            &:disabled + label {
                cursor: default;
            }
        }

        label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            gap: 3px;
            width: 80px;
            height: 80px;
            border: 2px solid var(--login-shadow);
            border-radius: 5px;
            cursor: pointer;
        }

        .preview {
            display: flex;
            align-items: flex-end;
            gap: 5px;

            button {
                width: 50px;
                height: 30px;
                color: white;
                border: none;
                background-color: var(--login-shadow);

                &:hover {
                    background-color: var(--syrup-chocolate);
                }
            }
        }
    }

    .btnContainer {
        display: flex;
        margin: 25px 0;
        gap: 10px;

        button {
            flex-grow: 1;
            height: 36px;
            border: none;

            &:disabled {
                opacity: 0.6;
                cursor: default;

                &:hover.save {
                    background-color: var(--login-register-submit-hover);
                }

                &:hover.cancel {
                    background-color: var(--stroke-header);
                }
            }
        }

        .save {
            color: white;
            background-color: var(--login-register-submit-hover);

            &:hover {
                background-color: var(--syrup-chocolate);
            }
        }

        .cancel {
            color: var(--text-reverse);
            background-color: var(--stroke-header);

            &:hover {
                background-color: var(--login-divider-text);
            }
        }
    }
}
