.blogPage {
    height: calc(100vh - 65px);
}

.left {
    width: 50vw;
    height: 100%;
    background-color: tomato;
}

.right {
    width: 50vw;
    height: 100%;
    background-color: lightblue;
}
