@use '@styles/variables.scss' as v;

.wrapper {
    display: grid;
    height: fit-content;
    padding: 8px 10px 8px 14px;
    border-bottom: 1px solid var(--structure);
    grid-template-columns: 140px 1fr;
}

.dateHolder {
    display: flex;
    align-items: baseline;
    .date {
        font-size: 18px;
        border-radius: 50%;
        border-color: transparent;
        height: 36px;
        width: 36px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: var(--button-hover);
        }
    }
    .monthDay {
        font-size: 11px;
    }
}
