.mainPage {
    height: calc(100vh - 65px);
    background-color: var(--login-background);

    .main {
        display: grid;
        grid-template-areas:
            'message message'
            'team image'
            'btnContainer image';
        grid-template-rows: 2fr 0.4fr 2fr;
        grid-template-columns: 1.8fr 2fr;
        margin: 0 auto;
        padding: 0;
        width: 80%;
        height: 100%;
        border-right: 30px solid var(--login-shadow);
        background-color: var(--sidebar-background);

        .message {
            grid-area: message;
            margin: 0;
            padding: 70px 0 10px 50px;
            line-height: 50px;
            font-size: xx-large;
            font-weight: bold;
        }

        .team {
            grid-area: team;
            padding: 10px 0 10px 50px;
            font-weight: bold;
        }

        .btnContainer {
            grid-area: btnContainer;
            padding: 10px 0 0 50px;

            button {
                padding: 10px;
                color: white;
                border: none;
                background-color: var(--today-blueberry);

                &:hover {
                    background-color: var(--dark-blueberry);
                }
            }
        }

        .image {
            grid-area: image;
            background-image: url('../public/images/main_image.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}

@media screen and (max-width: 1024px) {
    .mainPage {
        .main {
            grid-template-rows: 1.4fr 0.3fr 1.7fr;
            .message {
                line-height: 40px;
                font-size: 28px;
            }
        }
    }
}
