@use '@styles/variables.scss' as v;

.loginPage {
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 27fr 451fr 76fr 434fr 103fr 424fr;
    grid-template-rows: 110fr 76fr 440fr 98fr 127fr;
    grid-template-areas:
        '. . . . . .'
        '. . . . . .'
        '. . . loginContent . .'
        '. . . . . .'
        '. . . . . .';

    .shadow {
        background-color: v.$login-shadow;
        z-index: -2;

        &.leftmost {
            grid-column: 1 / 2;
            grid-row: 1 / 6;
        }

        &.middleleft {
            grid-column: 3 / 4;
            grid-row: 1 / 6;
        }

        &.middleright {
            grid-column: 5 / 6;
            grid-row: 1 / 6;
        }

        &.uppermost {
            grid-column: 1 / 7;
            grid-row: 2 / 3;
        }

        &.downmost {
            grid-column: 1 / 7;
            grid-row: 4 / 5;
        }
    }

    .bg {
        grid-column: 1 / 7;
        grid-row: 1 / 6;
        background-color: v.$login-background;
        z-index: -3;
    }

    .loginBox {
        grid-area: loginContent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 20px 10px;
        background-color: white;

        .loginContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .textContainer {
                display: flex;
                justify-content: space-between;

                .textName {
                    display: flex;
                    align-items: center;
                    font-size: 10px;
                    font-weight: bold;
                }

                .text {
                    width: 110px;
                    height: 22px;
                    font-size: 10px;
                }
            }

            .loginButtonContainer {
                display: flex;
                justify-content: flex-end;
                button {
                    width: 50px;
                    height: 30px;
                    background-color: v.$primary-blue;
                    font-size: 10px;
                    color: white;

                    &:hover {
                        background-color: v.$dark-blue;
                    }
                }
            }
        }

        .socialLoginContainer {
            display: flex;
            flex-direction: column;
            gap: 5px;

            button {
                height: 25px;
                font-size: 10px;
            }

            .kakaoLogin {
                background-color: v.$kakao-yellow;

                &:hover {
                    background-color: v.$kakao-dark-yellow;
                }
            }
        }

        .register {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .textDescription {
                font-size: 10px;
            }

            .registerButtonContainer {
                display: flex;
                justify-content: flex-end;

                button {
                    width: 100px;
                    height: 30px;
                    background-color: white;
                    font-size: 10px;

                    &:hover {
                        background-color: v.$background-gray;
                    }
                }
            }
        }
    }
}

.waffleFrame {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 451fr 76fr 461fr 76fr 451fr;
    grid-template-rows: 88fr 76fr 462fr 76fr 149fr;

    .fg {
        background-color: v.$login-foreground;

        z-index: -1;

        &.middleleft {
            grid-column: 2 / 3;
            grid-row: 1 / 6;
        }

        &.middleright {
            grid-column: 4 / 5;
            grid-row: 1 / 6;
        }

        &.uppermost {
            grid-column: 1 / 7;
            grid-row: 2 / 3;
        }

        &.downmost {
            grid-column: 1 / 7;
            grid-row: 4 / 5;
        }
    }
}
