$background-gray: #f0f0f0;
$font-gray: #70757a;

.wrapper {
    display: flex;
    flex-direction: column;
}

.headrow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    div {
        color: $font-gray;
        text-align: center;
        font-size: 11px;
    }
}

.month {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(7, 1fr);
}
