@use '@styles/variables.scss' as v;

.registerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .registerContainer {
        display: flex;
        flex-direction: column;
        width: 200px;
        padding: 20px 10px;
        border: 1px solid var(--structure);
        border-radius: 10px;
        background-color: white;
        gap: 10px;

        .textContainer {
            display: flex;
            justify-content: space-between;

            .textName {
                display: flex;
                align-items: center;
                font-size: 10px;
                font-weight: bold;
            }

            .text {
                width: 110px;
                height: 22px;
                font-size: 10px;
            }
        }

        .registerButtonContainer {
            display: flex;
            justify-content: flex-end;
            button {
                width: 70px;
                height: 30px;
                background-color: v.$primary-blue;
                font-size: 10px;
                color: white;

                &:hover {
                    background-color: v.$dark-blue;
                }
            }
        }
    }
}
