$border-gray: #dadce0;

.wrapper {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 65px);
    width: 100vw;
}

.scheduleHolder {
    margin-left: 8px;
    border-left: 1px solid $border-gray;
    flex-grow: 1;
}
