.wrapper {
    height: 100%;
    z-index: 0;
    position: relative;
    margin: 0px 3.5%;
    background-size: 100% 55px;
    background-image: linear-gradient(
        to bottom,
        var(--structure) 1px,
        transparent 1px
    );
}

.layer {
    position: absolute;
    height: 100%;
    width: 100%;
}
