.wrapper {
    height: calc(100% - 54px);
    z-index: 0;
    position: relative;
    margin: 0px 3.5%;
    background-size: 100% 55px;
    background-image: linear-gradient(
        to bottom,
        transparent 0 27px,
        var(--structure) 27px 28px,
        transparent 28px 55px
    );
}

.layer {
    position: absolute;
    height: 100%;
    width: 100%;
}
