@use '@styles/variables.scss' as v;

.wrapper {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 66px);
    justify-content: stretch;
    background-color: var(--sidebar-background);
}

.weekHolder {
    display: grid;
    grid-template-rows: min-content 1fr;
    flex-grow: 1;
    position: relative;
    background-color: var(--waffle-background);
    border-left: 1px solid var(--structure);
}

.frozenHolder {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-left: 115px;
    padding-right: 8px;
    border-bottom: 2px solid var(--structure);
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
}

.headrow {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100px;

    .headrowItem {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 2px;
        padding-bottom: 30px;

        .day {
            color: var(--text-datesSecondary);
            font-size: 12px;
            font-weight: 600;
        }

        .date {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: 550;
            background-color: transparent;
            height: 36px;
            width: 36px;
            border: 1px solid transparent;
            border-radius: 50%;
            div {
                color: var(--text-datesPrimary);
            }

            &:hover {
                background-color: var(--button-hover);
                cursor: pointer;
            }
        }

        &.today {
            .day {
                color: var(--today-blueberry);
            }
            .date {
                background-color: var(--today-blueberry);
                div {
                    color: var(--text-reverse);
                }

                &:hover {
                    background-color: var(--dark-blueberry);
                }
            }
        }
    }
}

.acrossHolder {
    position: relative;
    height: fit-content;
    padding-right: 8px;
    border-left: 1px solid var(--light-structure);
    .across {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        height: fit-content;
        min-height: 26px;
        position: absolute;
        z-index: 1;
    }
}

.borders {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    padding: 0px 0.5%;
    div {
        background-color: var(--grid-line);
        width: 1%;
        box-shadow: var(--grid-shadow) 2px 0px 2px,
            var(--grid-shadow) -2px 0px 2px;
        z-index: 2;
        position: relative;
    }
}

.scrollHolder {
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
}

.scrollContent {
    display: flex;
    flex-direction: row;
    height: 1320px;
    width: 100%;
    position: relative;
}

.lowerLeft {
    height: 100%;
    width: 115px;
}

.lowerRight {
    position: relative;
    flex-grow: 1;
    height: 100%;
    border-left: 1px solid var(--light-structure);
    .days {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        width: max-content;
        gap: 12px;
        position: absolute;
    }
}
