.chocolateEvent {
    path {
        color: var(--syrup-chocolate);
    }
    div {
        background-color: var(--syrup-chocolate);
    }
}

.strawberryEvent {
    path {
        color: var(--syrup-strawberry);
    }
    div {
        background-color: var(--syrup-strawberry);
    }
}

.honeyEvent {
    path {
        color: var(--syrup-honey);
    }
    div {
        background-color: var(--syrup-honey);
    }
}
