.chocolateEvent {
    path {
        color: var(--syrup-chocolate);
    }
    div,
    span:first-child {
        background-color: var(--syrup-chocolate);
    }
}

.strawberryEvent {
    path {
        color: var(--syrup-strawberry);
    }
    div,
    span:first-child {
        background-color: var(--syrup-strawberry);
    }
}

.honeyEvent {
    path {
        color: var(--syrup-honey);
    }
    div,
    span:first-child {
        background-color: var(--syrup-honey);
    }
}
