@use './variables.scss' as v;
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Nanum+Gothic:wght@400;700;800&display=swap');

:root[data-theme='light'] {
    --syrup-strawberry: #b13b16;
    --syrup-chocolate: #6b4c0f;
    --syrup-honey: #ddac4d;
    --waffle-background: #f9f7f3;
    --sidebar-background: #fcfbf9;
    --header-background: #fdfcfb;
    --grid-line: #ffffff;
    --structure: #b6aaa0;
    --text-datesPrimary: #2f1900;
    --text-datesSecondary: #85898d;
    --text-other: #3e4042;
    --icons: #606368;
    --today-blueberry: #5f40ba;
    --light-blueberry: #cbc0ed;
    --dark-blueberry: #462f8d;
    --stroke-header: #c8c9cc;
    --fill-inputBox: #f0f0f0;
    --button-hover: #f0f0f0;
    --login-shadow: #b69270;
    --login-background: #f8f1e6;
    --login-input: #e8e0d3;
    --login-foreground: #fcfbf9;
    --login-divider-text: #888686;
    --register-shadow: #261604;
    --register-background: #3e2810;
    --register-input: #d9d9d9;
    --register-text: #f8f1e6;
    --login-register-submit: #a97e57;
    --login-register-submit-hover: #8c7159;
    --kakao-foreground: #ffe812;
    --kakao-hover: #dbc60d;
    --box-background: white;
    --google-foreground: white;
    --google-hover: #f0f0f0;
}

:root[data-theme='dark'] {
    --syrup-strawberry: #ebb5ad;
    --syrup-chocolate: #bc9978;
    --syrup-honey: #edc881;
    --waffle-background: #0d0d0d;
    --sidebar-background: #141414;
    --header-background: #242424;
    --grid-line: #0d0d0d;
    --structure: #b6aaa0;
    --text-datesPrimary: #ffffff;
    --text-datesSecondary: #85898d;
    --text-other: #eef2f5;
    --icons: #a9acb0;
    --today-blueberry: #6f50c3;
    --light-blueberry: #cbc0ed;
    --dark-blueberry: #462f8d;
    --stroke-header: #f8f8fa;
    --fill-inputBox: #e2e0e0;
    --button-hover: #6e6d6d;
    --login-shadow: #000000;
    --login-background: #201c18;
    --login-input: #e8e0d3;
    --login-foreground: #3e2e1d;
    --login-divider-text: #888686;
    --register-shadow: #261604;
    --register-background: #3e2810;
    --register-input: #d9d9d9;
    --register-text: #f8f1e6;
    --login-register-submit: #a97e57;
    --login-register-submit-hover: #8c7159;
    --kakao-foreground: #ffe812;
    --kakao-hover: #dbc60d;
    --box-background: #201c18;
    --google-foreground: white;
    --google-hover: #f0f0f0;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    color: var(--text-other);

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--login-register-submit-hover);

        &:hover {
            background-color: var(--syrup-chocolate);
        }
    }
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: 1px solid var(--structure);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        background-color: var(--button-hover);
    }
}

input,
textarea {
    caret-color: var(--text-other);
    border: none;
    background-color: transparent;

    &::placeholder {
        color: var(--text-datesSecondary);
    }
}

.icon {
    fill: var(--icons);
}
