$background-gray: #f0f0f0;
$border-gray: #dadce0;
$font-gray: #70757a;
$light-blue: #d2e3fc;
$primary-blue: #1a73e8;
$dark-blue: #1967cd;
$green: #008a7c;
$kakao-yellow: #ffe812;
$kakao-dark-yellow: #dbc60d;

$login-shadow: #b69270;
$login-background: #f8f1e6;
$login-input: #e8e0d3;
$login-foreground: #fcfbf9;
$login-divider-text: #888686;

$register-shadow: #261604;
$register-background: #3e2810;
$register-input: #d9d9d9;
$register-text: #f8f1e6;

$login-register-submit: #a97e57;
$login-register-submit-hover: rgba(91, 91, 91, 0.37);
