@use '@styles/variables.scss' as v;

.createScheduleModal {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 570px;
    height: 80vh;
    max-height: 500px;
    border: 1px solid var(--structure);
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 5px 1px var(--structure);
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 5px;
    height: 36px;
    background-color: var(--header-background);
    color: var(--text-other);

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        background-color: var(--button-hover);

        &:hover {
            background-color: var(--structure);
        }
    }
}

.createScheduleForm {
    display: grid;
    grid-template-rows: auto 60px;
    height: calc(100% - 36px);
}

.body {
    overflow: auto;
    padding: 24px;
    background-color: var(--sidebar-background);
    color: var(--text-other);
}

.title {
    padding-left: 52px;
    padding-bottom: 20px;

    input {
        padding: 3px;
        width: 100%;
        font-size: x-large;
        border: none;
        border-bottom: 2px solid var(--structure);
        background-color: var(--fill-inputBox);

        &:focus {
            outline: none;
            border-bottom: 2px solid var(--today-blueberry);
        }
    }
}

.content {
    > div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    label {
        display: flex;
        align-items: center;
        width: 52px;
        border-bottom: 2px solid transparent;
    }

    input {
        padding-top: 3px;
        padding-left: 5px;
        height: 36px;
        border: none;
        border-radius: 5px;
        border-bottom: 2px solid transparent;
        background-color: var(--fill-inputBox);

        &:hover {
            border-bottom: 2px solid var(--button-hover);
            background-color: var(--fill-inputBox);
        }

        &:focus {
            outline: none;
            border-bottom: 2px solid var(--today-blueberry);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background-color: var(--fill-inputBox);
        }
    }

    .time {
        display: block;

        > div {
            display: flex;
        }

        .timeInputContainer {
            display: flex;
            align-items: center;

            span {
                margin: 0 5px;
            }
        }
    }

    .participant input {
        flex-grow: 1;
    }

    .sharingScope {
        margin-bottom: 5px;

        input {
            width: 100px;
        }
    }

    .hideDetails {
        margin-bottom: 20px;
        padding-left: 52px;
        font-size: small;

        input {
            height: 16px;

            &:hover {
                cursor: pointer;
            }

            &:disabled {
                cursor: default;

                & + label {
                    cursor: default;
                }
            }
        }

        label {
            width: auto;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .description {
        align-items: flex-start;

        textarea {
            padding: 5px;
            resize: none;
            border: 2px solid var(--structure);
            border-radius: 5px;
            background-color: var(--fill-inputBox);

            &:focus {
                outline: none;
                border: 2px solid var(--today-blueberry);
            }
        }
    }
}

.btnContainer {
    padding: 12px 24px;
    text-align: right;
    border-top: 1px solid var(--structure);
    background-color: var(--sidebar-background);

    button {
        padding: 0 20px;
        height: 36px;
        color: white;
        background-color: var(--today-blueberry);

        &:hover {
            background-color: var(--dark-blueberry);
        }
    }
}

.errorMessage {
    padding-left: 55px;
    color: tomato;
    font-size: small;
}
